{

    "presets": ["env",
         "react"],
         "plugins":[
             "file-loader"
         ]

         /*
         "presets": ["@babel/preset-env",
         "@babel/preset-react"],
         "plugins":[
            "file-loader"
        ]*/
         
    
}
