body {
    padding: 70px;
}

.TitleReporte {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 27px;
    color: #000000;
}

.DashboardContend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #3275C3; */
}

.GraficoContend {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 48%;
    /* background-color: #384567; */
    /* justify-content: flex-start; */
}

.GraficoContendAsistencia {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 60%;
}

.FondoGrafico {
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    width: 100%;
    /* background-color: #3275C3; */
    /* box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4); */
}

.FondoGrafico:hover {
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4);
}

/* Style_de_Cards */
.CardDisplay {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    padding: 0px;
    width: 48%;
    /* background-color: #747477; */
}

.CardContend {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #3275C3; */

}

.CardContendMiembro {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.CardReporte {
    width: 48%;
    height: 145px;
    background: #E1F1FF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 20px;
    /* box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4); */
}

.CardReporte:hover {
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4);
}


.CardMiembroPor {
    width: 31%;
    height: 115px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 20px;
    /* box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4); */

}

.CardMiembroPor:hover {
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4);
}

.ImageCardReporte {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    margin-left: 22px;
    margin-top: 5px;
    /* background-color: blue; */
}

.ParrafoCardReporte {
    margin-left: 22px;
    margin-top: 10px;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #747477;
}

.NumCardReporte {
    margin-left: 22px;
    margin-top: -5px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #000000;
}

.TituloGraficos {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

/* Style Inputs */
.TextContainer {
    width: 100%;
}

.TitleInputText {
    margin-left: 9px;
    margin-bottom: 4px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    display: flex;
    align-items: center;

    color: #383838;
}

.SearchTextInput {
    background: #FEFEFE;
    border: 1px solid #EAEAEA;

    border-radius: 13px;
    height: 50px;
    width: 100%;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    padding-left: 15px;

    color: #747477;
}

.ButtonReporte {
    width: 13%;
    height: 50px;
    background: #3275C3;
    border-radius: 13px;
    border: none;

    color: #ffffff;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.SearchReporte {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
    width: 100%;


}

/* Style de Table */
.From-filtro2 {
    background: rgb(0, 83, 128);
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 40px;

    position: relative;
    padding: 40px;
    border-radius: 15px;
    color: #FFF;
}

.Form-filtro2 th,
td {
    color: #FFF;
}

.ButtonSelect {
    background: #3275C3;
    border-radius: 13px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    height: 30px;
    border: none;
    width: 22%;
    justify-content: center;
}

.ButtonUnselected {
    background: #FFFFFF;
    border-radius: 13px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #EAEAEA;

    color: #747477;
    height: 30px;
    width: 22%;
    justify-content: center;
}

.ContainerButtonReport {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}

/* Actividades */
.CardContainerActividades {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    padding: 0px;
    width: 36%;
}



.ContainerActividades {
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    width: 100%;
    height: 338px;
    overflow-y: scroll;
}
.ContainerActividades::-webkit-scrollbar{
    -webkit-appearance: none;
}
.ContainerActividades::-webkit-scrollbar:vertical {
    width:10px;
}

.ContainerActividades::-webkit-scrollbar-button:increment,.ContainerActividades::-webkit-scrollbar-button {
    display: none;
} 

.ContainerActividades::-webkit-scrollbar:horizontal {
    height: 10px;
}

.ContainerActividades::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
/* .ContainerActividades:hover {
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4);
} */
.ListActividad {
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /* background-color: black; */
}

.DescriptionActividad {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: red; */

}

.CantAsistencia {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

/* .ContAsistencia{
    
} */
.ImageActividad {
    /* position: absolute; */
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: auto;
    /* background-color: blue; */
}

.TitleActividad {
    /* margin-left: 22px; */
    margin-top: 5px;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 16px; */

    color: #000000;
    margin: auto;
}

.NumAsistencia {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 16px; */

    color: #747477;
    margin: auto;
    padding-left: 10px;
}

.ImageCardActividad {
    width: 30px;
    height: 30px;
}

.Icon-Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EstadoCard {
    margin-left: 22px;
    margin-top: 10px;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #747477;
    margin: auto;
    text-align: center;
}