body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.confirm{
  position: absolute !important;
  top:100px;
  z-index: 100;
  margin: auto;
  justify-content: center;
  text-align: center;
  left:50%;
  transform: translateX(-50%);
  
}
*::-webkit-scrollbar {
  width: 12px;
  padding-right: 2px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #514560;
  border-radius: 20px;
  /* border: 2px solid #f1f2f3; */
}
*::-webkit-scrollbar-button:increment, *::-webkit-scrollbar-button {
  display: none;
} 
